.field--spacer {
    .field__content {
        padding-top: 11px;
    }

    .spacer__controls {
        display: inline-block;
        margin-right: 8px;
        border-radius: 4px;
        border: 1px solid #8c8f94;
        padding: 2px;

        background-color: #fff;

        vertical-align: top;
    }

    .spacer__side {
        margin-bottom: 1em;

        vertical-align: middle;

        svg {
            width: 36px;
            height: 36px;

            vertical-align: top;
        }

        input[type=number] {
            -moz-appearance: textfield;
            appearance: none;

            width: 60px;
            height: 30px;
            border-color: transparent;
            background: none;

            text-align: center;
            vertical-align: middle;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;

                margin: 0;
            }
        }
    }

    .spacer__button {
        width: 30px;
        border-color: #c3c3c3;

        color: #8c8f94;
    }
}