.field--slider {
    .field__content {
        padding-top: 11px;

        .jsAlchemySliderInput {
            width: auto;
        }
    }

    .slider__container {
        min-height: 28px;
    }

    .ui-slider {
        margin-bottom: 1em;

        .ui-slider-handle {
            width: 1.2em;
            height: 1.8em;
            top: -0.6em;
            margin-left: -0.6em;
        }
    }
}