.field--editor {
    .mce-btn.mce-active button,
    .mce-btn.mce-active:hover button,
    .mce-btn.mce-active i,
    .mce-btn.mce-active:hover i {
        color: #555d66
    }

    .wp-media-buttons .button {
        margin-bottom: 6px;

        &:active {
            margin-bottom: 7px;
        }
    }
}

.tinymce {
    &--destroyed {
        position: relative;
        z-index: 0;

        .field__cover {
            box-sizing: border-box;
            border: 1px dashed #ccc;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 5;

            background: #fff;
        }
    }
}