.alchemy {
    &__options {
        padding: 3em 0;
    }

    &__fields {
        margin: 2em 0;
        border: 1px dashed transparent;
        border-top-color: #ccc;
        border-bottom-color: #ccc;
    }

    &__field {
        & + & {
            margin-top: 2em;
        }
    }

    &__clearfix {
        &:before,
        &:after {
            display: table;
            content: " ";
            clear: both;
        }
    }

    &__repeater-add.button,
    &__repeater-add-spinner {
        margin-top: 1em;
        vertical-align: middle;
    }

    &__repeater-add-spinner {
        transition: opacity .3s;
        opacity: 1;
        margin-left: .5em;

        &--hidden {
            opacity: 0;
        }
    }

    .dashicons, .dashicons-before:before {
        vertical-align: text-top;
    }
}