.alchemy {
    &__options {
        padding: 3em 0;
        max-width: 80em;
    }

    &__fields {
        margin: 2em 0;
        padding: 3em 0;
        border: 1px dashed transparent;
        border-top-color: #ccc;
        border-bottom-color: #ccc;
    }

    &__field {
        & + & {
            margin-top: 2em;
        }
    }

    &__clearfix {
        &:before,
        &:after {
            display: table;
            content: " ";
            clear: both;
        }
    }

    &__repeater-add.button,
    &__repeater-add-spinner {
        margin-top: 1em;
        vertical-align: middle;
    }

    &__repeater-add-spinner {
        transition: opacity .3s;
        opacity: 1;
        margin-left: .5em;

        &--hidden {
            opacity: 0;
        }
    }

    &__colorpicker {
        &-toolbar {
            position: relative;
            z-index: 0;
        }

        &-sample {
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 40px;
            height: 26px;
            box-shadow: 0 1px 0 #ccc;

            vertical-align: top;
        }

        .iris-picker {
            position: absolute;
            left: 0;
            top: 30px;
            z-index: 1;
        }
    }

    .dashicons, .dashicons-before:before {
        vertical-align: text-top;
    }
}