.field {
    &__label {
        display: block;

        font-size: 14px;
        font-weight: 600;
        color: #23282d;
    }

    &__description {
        padding-top: .4em;

        color: #666;
        font-style: italic;
        font-size: 14px;

        p {
            padding-top: 0;
            margin-top:0;
            margin-bottom: 0;
        }
    }

    &__image-label {
        transition: border-color .3s;
        display: inline-block;
        border: 1px solid #e5e5e5;
        padding: 3px;
        background: #fafafa;
        margin-right: .5em;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

        &:hover,
        &:focus {
            border-color: #c4c4c4;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
        }

        &--active,
        &--active:hover,
        &--active:focus {
            border-color: #0085ba;
            box-shadow: 0 0 2px #006799;
        }

        &--disabled,
        &--disabled:hover {
            opacity: .5;
            cursor: not-allowed;
        }

        img {
            display: block;
        }
    }

    &__side {
        float: left;
        padding-top: 20px;
        width: 100%;
        max-width: 200px;
    }

    &__content {
        padding-top: 13px;
        padding-left: 220px;

        input[type=text],
        input[type=search],
        input[type=tel],
        input[type=url],
        input[type=password],
        input[type=email],
        input[type=number],
        textarea,
        select {
            box-sizing: border-box;
            width: 100%;
            padding: 6px;

            font-size: 15px;
        }

        select {
            padding: 2px;
            line-height: 28px;
            height: 28px;

            font-size: 14px;
        }

        .wp-media-buttons {
            float: none;
        }

        .wp-editor-container {
            clear: none;
        }
    }

    &--repeater {
        .field__label {
            margin-bottom: 0;
        }

        .repeatee {
            .field__label {
                margin-bottom: .8em;
            }
        }

        .field__description {
            margin-bottom: 1.5em;
        }

        .ui-sortable {
            overflow: hidden;
            position: relative;
        }
    }

    &--colorpicker {
        position: relative;
        z-index: 5;

        input {
            max-width: 80px;
            padding-top: 4px;
            position: relative;
            top: -1px;
        }

        ~ .alchemy__field {
            z-index: 4;
        }

        .field__content {
            input {
                padding: 4px 5px 3px;
            }
        }
    }

    &--datepicker {
        .field__content {
            padding-top: 14px;

            input {
                width: 100%;
                max-width: 200px;
                padding: 4px 6px 4px;
                margin-top: 0;
                margin-right: 4px;

                position: relative;
                z-index: 10;
            }
        }

        .dashicons {
            pointer-events: none;

            margin-left: -29px;
            margin-top: -2px;

            position: relative;
            z-index: 11;
        }
    }

    &--button-group {
        .button-group {
            will-change: transform;
        }

        .field__label {
            margin: 0;
            color: inherit;
            font-weight: 600;
        }

        .field__content {
            padding-top: 1.5em;
        }
    }

    &--upload {
        .field__results {
            padding-top: .5em;

            img {
                display: inline-block;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
                max-width: 100%;
                height: auto;

                background: #fafafa;
            }
        }
    }

    &--editor {
        .wp-editor-tools {
            min-height: 32px;

            &:after,
            &:before {
                clear: none;
            }
        }

        .mce-tinymce {
            border: 1px solid #e5e5e5;
            box-shadow: 0 1px 1px rgba(0,0,0,.04);
        }

        .field__content {
            padding-top: 17px;
        }
    }

    &--image-radio {
        input {
            display: none;
        }
    }

    &--post-type-select,
    &--datalist,
    &--taxonomy-select {
        select {
            width: 80%;
        }
    }

    &--select {
        .field__content {
            padding-top: 15px;
        }
    }

    &--checkbox,
    &--radio {
        .field__content {
            padding-left: 222px;
            padding-top: 20px;
        }

        label {
            display: inline-block;
            margin-bottom: .3em;

            font-size: 14px;
        }
    }

    &--password {
        .field__content {
            padding-top: 14px;

            input {
                width: 100%;
                max-width: 250px;
                padding: 4px 6px 4px;
                margin-top: 0;
                margin-right: 4px;
            }
        }
    }
}