.field {
    &__label {
        display: block;
        margin-bottom: .8em;

        font-size: 16px;
    }

    &__description {
        padding-top: .5em;

        font-style: italic;
        font-size: 14px;

        p {
            padding-top: 0;
            margin-top:0;
            margin-bottom: 0;
        }
    }

    &__image-label {
        transition: border-color .3s;
        display: inline-block;
        border: 1px solid #e5e5e5;
        padding: 3px;
        background: #fafafa;
        margin-right: .5em;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

        &:hover,
        &:focus {
            border-color: #c4c4c4;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
        }

        &--active,
        &--active:hover,
        &--active:focus {
            border-color: #0085ba;
            box-shadow: 0 0 2px #006799;
        }

        &--disabled,
        &--disabled:hover {
            opacity: .5;
            cursor: not-allowed;
        }

        img {
            display: block;
        }
    }

    &--repeater {
        .field__label {
            margin-bottom: 0;
        }

        .repeatee {
            .field__label {
                margin-bottom: .8em;
            }
        }

        .field__description {
            margin-bottom: 1.5em;
        }

        .ui-sortable {
            overflow: hidden;
            position: relative;
        }
    }

    &--colorpicker {
        position: relative;
        z-index: 5;

        input {
            max-width: 80px;
            padding-top: 4px;
            position: relative;
            top: -1px;
        }

        ~ .alchemy__field {
            z-index: 4;
        }
    }

    &--datepicker {
        input {
            position: relative;
            z-index: 10;
        }

        .dashicons {
            pointer-events: none;

            margin-left: -25px;
            margin-top: -2px;

            position: relative;
            z-index: 11;
        }
    }

    &--button-group {
        .button-group {
            will-change: transform;
        }

        .field__label {
            color: inherit;
            font-weight: normal;
        }
    }

    &--upload {
        .field__results {
            padding-top: .5em;

            img {
                display: inline-block;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
                max-width: 100%;
                height: auto;

                background: #fafafa;
            }
        }
    }

    &--editor {
        .wp-editor-tools {
            min-height: 32px;
        }

        .mce-tinymce {
            clear: both;
            border: 1px solid #e5e5e5;
            box-shadow: 0 1px 1px rgba(0,0,0,.04);
        }
    }

    &--image-radio {
        input {
            display: none;
        }
    }

    &--post-type-select {
        select {
            width: 80%;
        }
    }
}