.repeatee {
    border: 1px solid #ccc;
    padding: .5em 2em 2em 2em;
    border-radius: 5px;

    & + & {
        margin-top: 5px;
    }

    &__toolbar {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 -1.5em 1em;
        padding: .5em;
    }

    &__actions {
        float: right;
    }
}