.field--radio {
    .field__content {
        padding-top: 7px;
    }

    .radio__label {
        display: inline-block;
        margin-bottom: .7em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}