@import "base";

@import "blocks/blocks";

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        display: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.appearance_page_alchemy-options {
    .ui-datepicker-prev,
    .ui-datepicker-next {
        transition: none;
    }

    #wpadminbar,
    #adminmenuback,
    #adminmenuwrap {
        will-change: transform;
    }
}