body,
html {
  margin: 0;
  padding: 0; }

.field__label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #23282d; }
.field__description {
  padding-top: .4em;
  color: #666;
  font-style: italic;
  font-size: 14px; }
  .field__description p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0; }
.field__image-label {
  transition: border-color .3s;
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 3px;
  background: #fafafa;
  margin-right: .5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
  .field__image-label:hover, .field__image-label:focus {
    border-color: #c4c4c4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14); }
  .field__image-label--active, .field__image-label--active:hover, .field__image-label--active:focus {
    border-color: #0085ba;
    box-shadow: 0 0 2px #006799; }
  .field__image-label--disabled, .field__image-label--disabled:hover {
    opacity: .5;
    cursor: not-allowed; }
  .field__image-label img {
    display: block; }
.field__side {
  float: left;
  padding-top: 20px;
  width: 100%;
  max-width: 200px; }
.field__content {
  padding-top: 13px;
  padding-left: 220px; }
  .field__content input[type=text],
  .field__content input[type=search],
  .field__content input[type=tel],
  .field__content input[type=url],
  .field__content input[type=password],
  .field__content input[type=email],
  .field__content input[type=number],
  .field__content textarea,
  .field__content select {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    font-size: 15px; }
  .field__content select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
    font-size: 14px; }
  .field__content .wp-media-buttons {
    float: none; }
  .field__content .wp-editor-container {
    clear: none; }
.field--repeater .field__label {
  margin-bottom: 0; }
.field--repeater .repeatee .field__label {
  margin-bottom: .8em; }
.field--repeater .field__description {
  margin-bottom: 1.5em; }
.field--repeater .ui-sortable {
  overflow: hidden;
  position: relative; }
.field--colorpicker {
  position: relative;
  z-index: 5; }
  .field--colorpicker input {
    max-width: 80px;
    padding-top: 4px;
    position: relative;
    top: -1px; }
  .field--colorpicker ~ .alchemy__field {
    z-index: 4; }
  .field--colorpicker .field__content input {
    padding: 4px 5px 3px; }
.field--datepicker input {
  position: relative;
  z-index: 10; }
.field--datepicker .dashicons {
  pointer-events: none;
  margin-left: -25px;
  margin-top: -2px;
  position: relative;
  z-index: 11; }
.field--button-group .button-group {
  will-change: transform; }
.field--button-group .field__label {
  margin: 0;
  color: inherit;
  font-weight: 600; }
.field--button-group .field__content {
  padding-top: 1.5em; }
.field--upload .field__results {
  padding-top: .5em; }
  .field--upload .field__results img {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    background: #fafafa; }
.field--editor .wp-editor-tools {
  min-height: 32px; }
  .field--editor .wp-editor-tools:after, .field--editor .wp-editor-tools:before {
    clear: none; }
.field--editor .mce-tinymce {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
.field--editor .field__content {
  padding-top: 17px; }
.field--image-radio input {
  display: none; }
.field--post-type-select select, .field--datalist select, .field--taxonomy-select select {
  width: 80%; }
.field--select .field__content {
  padding-top: 15px; }
.field--checkbox .field__content, .field--radio .field__content {
  padding-left: 222px;
  padding-top: 20px; }
.field--checkbox label, .field--radio label {
  display: inline-block;
  margin-bottom: .3em;
  font-size: 14px; }
.field--password .field__content {
  padding-top: 14px; }
  .field--password .field__content input {
    width: 100%;
    max-width: 250px;
    padding: 4px 6px 4px;
    margin-top: 0;
    margin-right: 4px; }

.alchemy__options {
  padding: 3em 0;
  max-width: 80em; }
.alchemy__fields {
  margin: 2em 0;
  padding: 3em 0;
  border: 1px dashed transparent;
  border-top-color: #ccc;
  border-bottom-color: #ccc; }
.alchemy__field + .alchemy__field {
  margin-top: 2em; }
.alchemy__clearfix:before, .alchemy__clearfix:after {
  display: table;
  content: " ";
  clear: both; }
.alchemy__repeater-add.button, .alchemy__repeater-add-spinner {
  margin-top: 1em;
  vertical-align: middle; }
.alchemy__repeater-add-spinner {
  transition: opacity .3s;
  opacity: 1;
  margin-left: .5em; }
  .alchemy__repeater-add-spinner--hidden {
    opacity: 0; }
.alchemy__colorpicker-toolbar {
  position: relative;
  z-index: 0; }
.alchemy__colorpicker-sample {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 40px;
  height: 26px;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top; }
.alchemy__colorpicker .iris-picker {
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 1; }
.alchemy .dashicons, .alchemy .dashicons-before:before {
  vertical-align: text-top; }

.repeatee {
  margin-bottom: .5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fafafa; }
  .repeatee__toolbar {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: .5em;
    cursor: pointer; }
    .repeatee__toolbar small {
      vertical-align: sub; }
  .repeatee__title {
    display: inline-block;
    margin: 0 .5em;
    line-height: 1.5;
    vertical-align: middle; }
  .repeatee__content {
    padding: 1em 1.5em .8em;
    border: 1px solid #ccc;
    border-top: 0;
    display: none; }
  .repeatee__actions {
    float: right;
    margin-top: -1px; }
  .repeatee__btn {
    transition: opacity .3s;
    opacity: 0; }
  .repeatee:hover > .repeatee__toolbar {
    border-color: #c4c4c4; }
    .repeatee:hover > .repeatee__toolbar .repeatee__btn {
      opacity: 1; }
  .repeatee--expanded > .repeatee__toolbar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #c4c4c4;
    background: #e5e5e5; }
    .repeatee--expanded > .repeatee__toolbar .repeatee__btn {
      opacity: 1; }
  .repeatee--expanded > .repeatee__content {
    display: block;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #c4c4c4; }
  .repeatee--expanded .repeatee .repeatee__toolbar {
    background: #f5f5f5; }
  .repeatee--hidden {
    opacity: .7; }
    .repeatee--hidden > .repeatee__toolbar .jsAlchemyRepeateeHide {
      opacity: 1; }
  .repeatee--placeholder {
    margin-bottom: .5em;
    border: 1px dashed #ccc;
    border-radius: 3px; }

.tinymce--destroyed {
  position: relative;
  z-index: 0; }
  .tinymce--destroyed .field__cover {
    width: 100%;
    box-sizing: border-box;
    border: 1px dashed #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: absolute;
    left: 0;
    bottom: 8px;
    z-index: 5;
    background: #fff; }

.appearance_page_alchemy-options .ui-datepicker-prev,
.appearance_page_alchemy-options .ui-datepicker-next {
  transition: none; }
.appearance_page_alchemy-options #wpadminbar,
.appearance_page_alchemy-options #adminmenuback,
.appearance_page_alchemy-options #adminmenuwrap {
  will-change: transform; }

/*# sourceMappingURL=alchemy.css.map */
